<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Michael Gagnon</h1>
        <h3>Full Stack Software Developer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/michael-gagnon-60142126b/" target="_blank" class="">
            <img src="/linkedin_logo.png" width="24" height="24" alt="LinkedIn Logo" class="rounded-circle me-2">
        </a>
        <a href="https://github.com/LetsGoRidePandas" target="_blank" class="">
            <img src="/github-mark.png" width="24" height="24" alt="GitHub Logo" class="rounded-circle me-2">
        </a>
    </div>
</div>
