<nav class="navbar-expand-md border-bottom mb-3">
    <div class="containter">
        <ul class="nav justify-content-center" style="background-color: white;">
            <li class="nav-item">
                <a  class="nav-link text-secondary" routerLink="/home" routerLinkActive="active-text">Home</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="active-text">Portfolio</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link text-secondary" routerLink="/resume" routerLinkActive="active-text">Resume</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link text-secondary" routerLink="/contact" routerLinkActive="active-text">Contact</a>
            </li>
        </ul>
    </div>
</nav>

